#mini-menu{
    position: fixed;
    top: 1em;
    right: 1em;
    text-align: end;
    z-index: 10;
}

.menu-button{
    border: none;
    text-decoration: none;
    color: gray;
    padding: 1em;
    border-radius: 10px;
}

.menu-button:active{
    background-color: rgb(196, 196, 196);
}

#toggle-menu{
    box-shadow: 1px 1px 10px lightgray;
    margin-top: 0.5em;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.menu-link{
    padding: 0.7em 1em;
    display: block;
    color: black;
    min-width: 200px;
    text-align: left;
}

.menu-link:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(238, 238, 238);
}

button:focus {outline:none;}